* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

/* พื้นหลังทั้งหน้า */
body.register-page {
  background: linear-gradient(to bottom, #e0eafc 0%, #cfdef3 100%);
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* กล่องฟอร์ม */
.container {
  background: #fff;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

/* หัวข้อ */
.form-title {
  text-align: center;
  margin-bottom: 10px;
}

/* กล่อง input */
.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-left: 13px;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-group input {
  display: block;
  margin: 0px auto;
  width: 95%;
  border-radius: 24px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  max-width: 400px;
}

/* ปุ่ม */
.btn.primary {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.btn.primary:hover {
  background: #4338ca;
}

/* ลิงก์สลับ */
.switch-link-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.active-link {
  font-weight: bold;
}

.inactive-link {
  color: #666;
  text-decoration: none;
}

/* ข้อความผลลัพธ์ */
#result {
  margin-top: 15px;
  text-align: center;
}